
@{
    Layout = null;
}
@model List<BilgeAdam.UI.Web.Models.VM.SupplierVM>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <h2>Tedarikçiler</h2>
            <p>Aşağıdakiler tedarikçiler</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company Name</th>
                        <th>Description</th>
                        <th>Add Date</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.SirketAd</td>
                            <td>@item.Aciklama</td>
                            <td>@item.AddDate</td>
                            <td><a href="/Supplier/DeleteSupplier/@item.ID">Sil</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </body>
</html>
